NEXT_PUBLIC_APP_NAME=HalkYemek
NEXT_PUBLIC_API_BASE_URL=https://api.halkyemek.com.tr
NEXT_PUBLIC_DEFAULT_DISTRICT=BEYLIKDUZU
NEXT_PUBLIC_APP_URL=https://halkyemek.com.tr
NEXT_PUBLIC_GOOGLE_CLIENT_ID=739599784555-ehk76g9abj6m9nmct5rs8ll74dv63k86.apps.googleusercontent.com
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD_TyGqudte37k6SgCvq9A2Wt8E6WLbZ5g
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=notifications-8a59d.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=notifications-8a59d
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=583607440677
NEXT_PUBLIC_FIREBASE_APP_ID=1:583607440677:web:9e8e6f06bd333613c2f6cc
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-BSK55EXH0S
NEXT_PUBLIC_FCM_WEB_VAPID_KEY=
SESSION_COOKIE_PREFIX=hy
SESSION_COOKIE_SECURE=true
